[submodule "submodules/prometheus-operator"]
	path = submodules/prometheus-operator
	url = https://github.com/coreos/prometheus-operator
[submodule "submodules/kube-state-metrics"]
	path = submodules/kube-state-metrics
	url = https://github.com/kubernetes/kube-state-metrics
